@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FullCategoryOutputViewModel

<div class="col-lg-3">
    <div class="left_sidebar_area">
        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
            <div class="l_w_title">
                <h3>Browse Categories</h3>
            </div>
            <div class="widgets_inner">
                <ul class="list">
                    @if (Model.CategoryType != null)
                    {
                        @foreach (var item in Model.CategoryType)
                        {
                            @*<li>
                                    <a asp-route-Id="@item.Id">@item.Name</a>
                                </li>*@

                            <li class="sub-menu">
                                <a class=" d-flex justify-content-between" asp-route-Id="@item.Id">
                                    @item.Name
                                    <div class="right ti-plus"></div>
                                </a>
                                <ul>
                                    @if (item.Category != null)
                                    {
                                        @foreach (var category in item.Category)
                                        {
                                            <li>
                                                <a asp-route-Id="@category.Id">   @category.CategoryName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>

                        }
                    }
                    @*<li class="sub-menu">
                            <a href="#Electronics" class=" d-flex justify-content-between">
                                Electronics
                                <div class="right ti-plus"></div>
                            </a>
                            <ul>
                                <li>
                                    <a href="#Electronics">Home Appliances</a>
                                </li>
                                <li>
                                    <a href="#Electronics">Smartphones</a>
                                </li>
                                <li>
                                    <a href="#Electronics">Kitchen Appliances</a>
                                </li>
                                <li>
                                    <a href="#Electronics">Computer Accessories</a>
                                </li>
                                <li>
                                    <a href="#Electronics">Meat Alternatives</a>
                                </li>
                                <li>
                                    <a href="#Electronics">Appliances</a>
                                </li>
                            </ul>
                        </li>*@
                </ul>
            </div>
        </aside>

        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
            <div class="l_w_title">
                <h3>Product filters</h3>
            </div>
            <div class="widgets_inner">
                <ul class="list">
                    <p>Brands</p>
                    @if (Model.Brands != null)
                    {
                        @foreach (var item in Model.Brands)
                        {
                            <li>
                                <input type="radio" aria-label="Radio button for following text input">
                                <a asp-route-Id="@item.Id">@item.Name</a>
                            </li>
                        }
                    }

                </ul>
            </div>
        </aside>

    </div>
</div>